name: "Dev deployment"

# Ensure that only a single job or workflow using the same concurrency group runs at a time.
concurrency: 1

# Trigger this workflow whenever a push is made to the repo's main branch.
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: "Deploy bundle to dev"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: databricks/setup-cli@main

      # Specify the working directory for deployment if your Databricks assets are in the /my_project folder.
      - run: databricks bundle deploy
        working-directory: ./my_project
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          DATABRICKS_BUNDLE_ENV: dev  # Update this to target the dev workspace

  pipeline_update:
    name: "Run pipeline update in dev"
    runs-on: ubuntu-latest
    needs:
      - deploy

    steps:
      - uses: actions/checkout@v3

      - uses: databricks/setup-cli@main

      # Make sure to specify the same working directory for running the job
      - run: databricks bundle run my-job --refresh-all
        working-directory: ./my_project
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          DATABRICKS_BUNDLE_ENV: dev  # Ensure this matches the deploy target
